body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}
p {
    margin: 0;
    color: #fff;
    font-size: 45px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
header {
    height: 20vh;
    background: #8D8484;
}
main {
    display: flex;
    flex-direction: row;
    height: 60vh;
}
.left {
    display: flex;
    flex-direction: column;
    width: 70vw;
}
.right {
    display: flex;
    flex-direction: column;
    width: 30vw;
}
.content1 {
    height: 20vh;
    background: #776969;
}
.content2 {
    height: 20vh;
    background: #643030;
}
.content3 {
    height: 20vh;
    background: #441818;
}
.spam1 {
    height: 30vh;
    background: #937575;
}
.spam2 {
    height: 30vh;
    background: #644C4C;
}
footer {
    height: 20vh;
    background: #BDBDBD;
}
header, footer, .content1, .content2, .content3, .spam2, .spam1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

